 body{
        margin: 20px;
        background-color: #F5F5F5;
        }

.container{
        border: 1px solid grey;
        }


.profile-pic{
        width: 100px;
        border: 3px solid grey;
        border-radius: 100px;
        }

.block{
        padding-top: 20px;
        float: left;
        width: 25%;
        box-sizing: border-box;
        }


.box-tag{
        height:30px;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        }


.bold{
        font-weight: bold;
        }


.pff{
        padding-top: 20px;
        }


.btn{
        margin-bottom: 10px;
        font-weight: bold;
        }


.profile-name{
        font-weight: bold;
        }


.bio{
        padding:10px 10px 0px 10px;
        line-height: 0.4em;
        margin:10px;
        }

.all-photos{
        padding: 5px;
        }



.img-fluid{
        max-width: 100%;
        height: auto;
        }
